/*[ Typo ]
//////////////////////////////////////////////////////////////////*/

html {
	font-size: 14px;
}

body {
	font-family: $main-font-01,apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-weight: 400;
	line-height: 1.666666;
}

h1, 
h2, 
h3 {
	line-height: 1.3;
}

h4, 
h5, 
h6 {
	line-height: 1.5;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: $main-font-01;
}



