

$main-font-01: Poppins;

$main-color-01: #1467af;
$main-color-01-R: 20;
$main-color-01-G: 103;
$main-color-01-B: 175;

$title-color-01: #333;
$text-color-01: #666;

$bg-label-new: #1467af;
$bg-label-sale: #e65540;

$star-color-01: #f5c06f;


