/*[ hun-element-detail-product ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * Type 1
 *
\*/
.hun-element-detail-product--type-1 {
	.images-product {
		.img-slider {
			.slide-slick {
				border: 1px solid #e5e5e5;

				.slick-list {
					.slick-track {
						margin-left: auto;
						margin-right: auto;
						display: flex;
						align-items: flex-start;
					}
				}
			}

			.dots-slick {
				padding-top: 6px;

				.slick-dots {
					list-style-type: none;
					padding: 0px;
					display: flex;
					flex-wrap: wrap;
					margin: -3px;

					li {
						width: 20%;
						padding: 3px;

						.inner-dot {
							cursor: pointer;
							display: block;
							width: 100%;
							padding-top: 100%;
							background-position: center;
							background-size: cover;
							background-repeat: no-repeat;
							border: 1px solid #e5e5e5;
							position: relative;

							&::before {
								content: '';
								display: block;
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								left: 0;
								background: #000;
								opacity: 0;
								transition: all .2s;
							}

							&:hover:before {
								opacity: .3;
							}
						}

						&.slick-active {
							.inner-dot::before {
								opacity: .3;
							}
						}
					}
				}
			}
		}

		.wrap-img {
			position: relative;

			.popup-img {
				font-size: 16px;
				color: #333;
				line-height: 40px;
				text-align: center;
				position: absolute;
				top: 8px;
				right: 8px;
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: #fff;
				transition: all .2s;

				&::before {
					content: '\f065';
					font-family: FontAwesome;
				}
			}

			img {
				width: 100%;
			}
		}

		&.set-color {
			.wrap-img {
				.popup-img:hover {
					color: #fff;
					background-color: $main-color-01;
				}
			}
		}

		@media (max-width: 991px) {
			padding-bottom: 60px;
		}
	}

	.text-product {
		.name-product {
			font-weight: 600;
			font-size: 30px;
			line-height: 1.3;
			color: #333;
			margin-bottom: 12px;

			@media (max-width: 575px) {
				font-size: 25px;
			}
		}

		.star-product {
			color: #999;
			margin-bottom: 15px;

			.list-star {
				color: #ffb14b;
				display: inline-block;
				margin-right: 5px;
			}
		}

		.price-product {
			color: #333;
			margin-bottom: 30px;

			.new-price {
				font-size: 25px;
				margin-right: 5px;
			}

			.old-price {
				font-size: 18px;
				color: #999;
				text-decoration: line-through;
				font-style: italic;
			}
		}

		.description-product {
			color: #999;
			margin-bottom: 30px;
		}

		.cart-form {
			width: 420px;
			max-width: 100%;
			padding-top: 10px;
			margin-bottom: 23px;

			.choose-options {
				padding-bottom: 25px;

				table.variations {
					width: 100%;
					border: 1px solid #e5e5e5;
					border-collapse: collapse;

					label {
						display: inline-block;
						margin: 0;
					}

					tr {
						border: 1px solid #e5e5e5;
					}

					td {
						border: 1px solid #e5e5e5;

						&.label {
							line-height: 1.3;
							padding-left: 15px;
							padding-right: 15px;
						}

						&.value {
							height: 1px;
							padding: 0;
							position: relative;

							&::after {
								content: '\f104';
								font-family: Ionicons;
								color: #999;
								width: 28px;
								height: calc(100% - 2px);
								display: flex;
								justify-content: center;
								align-items: center;
								background: #fff;
								position: absolute;
								top: 1px;
								right: 6px;
								padding-top: 2px;
								pointer-events: none;
							}

							select {
								color: #666;
								width: calc(100% + 2px);
								height: calc(100% + 2px);
								min-height: 45px;
								border: 1px solid transparent;
								background-color: transparent;
								margin: -1px;
								padding: 0px 35px 0px 20px;

								-webkit-appearance: none;
								&::-ms-expand {
									display: none;
								}

								&:focus {
									outline: none;
								}
							}
						}
					}
				}

				&.set-color {
					table.variations {
						td {
							&.value {
								select {
									&:focus {
										border-color: $main-color-01;
									}
								}
							}
						}
					}
				}
			}

			.quantity-and-addcart {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				margin: -10px;

				.quantity-product {
					height: 46px;
					border: 1px solid #e5e5e5;
					display: flex;
					overflow: hidden;
					align-items: stretch;
					-webkit-user-select: none;  
					-moz-user-select: none;    
					-ms-user-select: none;      
					user-select: none;
					margin: 10px;

					.input-field {
						font-weight: 500;
						font-size: 16px;
						color: #333;
						text-align: center;
						width: 50px;
						background: #f5f5f5;
						border: 1px solid #e5e5e5;
						border-top: none;
						border-bottom: none;

						appearance: none;
						-webkit-appearance: none;
						-moz-appearance: textfield;
						&::-webkit-outer-spin-button,
						&::-webkit-inner-spin-button {
							-webkit-appearance: none;
							margin: 0; 
						}
					}

					[class*="btn-num-product-"] {
						font-weight: 500;
						font-size: 13px;
						color: #333;
						line-height: 1;
						width: 46px;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						transition: all .2s;

						&::before {
							font-family: Ionicons;
						}
					}

					.btn-num-product-down::before {
						content: '\f208';
					}

					.btn-num-product-up::before {
						content: '\f217';
					}
				}

				.btn-addcart {
					flex-grow: 1;
					flex-basis: 160px;
					font-weight: 500;
					font-size: 15px;
					line-height: 46px;
					color: #fff;
					text-align: center;
					text-transform: uppercase;
					white-space: nowrap;
					overflow: hidden;
					display: inline-block;
					border: none;
					max-width: 100%;
					min-width: 160px;
					padding: 0 20px;
					margin: 10px;
					transition: all .2s;
				}

				&.set-color {
					.quantity-product {
						[class*="btn-num-product-"] {
							&:hover {
								color: #fff;
								background: $main-color-01;
							}
						}
					}

					.btn-addcart {
						background: $main-color-01;

						&:hover {
							background: #222;
						}
					}
				}
			}
		}

		.add-wishlist {
			margin-bottom: 23px;

			.btn-addwish {
				font-weight: 400;
				font-size: 15px;
				color: #333;
				line-height: 1.4;
				display: inline-block;
				border-bottom: 1px solid #555;
				padding-right: 2px;
				transition: all .2s;
			}

			&.set-color {
				.btn-addwish:hover {
					color: $main-color-01;
					border-color: $main-color-01;
				}
			}
		}

		.meta-info {
			list-style-type: none;
			padding: 27px 0 0 0;

			li {
				color: #999;
				margin-bottom: 8px;

				.name-info {
					color: #666;
					margin-right: 3px;
				}

				a {
					color: inherit;
				}
			}

			&.set-color {
				li a:hover {
					color: $main-color-01;
				}
			}
		}

		@media (min-width: 1200px) {
			padding-left: 30px;
		}
	}

	.more-info-product {
		padding-top: 60px;

		.tab-info {
			border: 1px solid #e5e5e5;
			padding: 39px 39px;

			.dots-slick {
				padding-bottom: 43px;

				&:empty {
					display: none;
				}

				.slick-dots {
					list-style-type: none;
					padding: 0px;
					margin: 0px -16px;
					display: flex;
					flex-wrap: wrap;
					text-align: center;

					li {
						font-size: 15px;
						line-height: 1.5;
						color: #888;
						cursor: pointer;
						margin: 0px 16px 10px 16px;
						border-bottom: 1px solid transparent;
						transition: all .2s;

						&:hover,
						&.slick-active {
							color: #333;
							border-color: #555;
						}
					}
				}
			}

			@media (max-width: 767px) {
				padding: 39px 20px;
			}
		}

		.content-more-info {
			color: #888;
		}
	}
}
