/*[ hun-section-products ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * Layout grid
 *
 * Style Class: show-space-bottom / show-small-space-bottom
 *				full-width
 *
\*/
.hun-section-products.layout-grid {
	.col,
	[class*="col-"] {
		padding-bottom: 30px;
	}

	.inner-section {
		margin-bottom: -30px;
	}

	.heading-section {
		margin-top: -9px;
		margin-bottom: 60px;

		.title-sec {
			font-weight: 700;
			font-size: 39px;
			line-height: 1.2;
			color: #333;
			letter-spacing: 1px;
			margin-bottom: 0;
		}

		@media (max-width: 767px) {
			margin-bottom: 50px;

			.title-sec {
				font-size: 30px;
			}
		}
	}

	.buttons-section {
		text-align: center;
		padding-top: 40px;
		padding-bottom: 30px;

		.hun-button {
			text-transform: uppercase;
			padding: 0px 39px;
		}
	}

	.link-view-all {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 16px;
		padding-bottom: 21px;

		&::after,
		&::before {
			content: '';
			display: block;
			flex-grow: 1;
			flex-basis: 1px;
			height: 5px;
			border-top: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;
		}

		a {
			font-weight: 600;
			font-size: 15px;
			line-height: 1.4;
			color: #555;
			text-align: center;
			text-transform: uppercase;
			display: block;
			background: #fff;
			padding: 4px 25px;
			transition: all .2s;

			&.set-color:hover {
				color: $main-color-01;
			}

			@media (max-width: 575px) {
				padding: 4px 15px;
			}
		}
	}
}

/*\
 *
 * Layout Slider
 *
 * Style Class: show-space-bottom / show-small-space-bottom
 *				full-width
 *				arrow-top
 *				hide-link-view-all
 *
\*/
.hun-section-products.layout-slider {
	&.bg-grey {
		background: #f9f9f9;
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.heading-section {
		text-align: center;
		margin-top: -9px;
		margin-bottom: 60px;

		.title-sec {
			font-weight: 700;
			font-size: 39px;
			line-height: 1.2;
			color: #333;
			letter-spacing: 1px;
			margin-bottom: 0;
		}

		@media (max-width: 767px) {
			margin-bottom: 50px;

			.title-sec {
				font-size: 30px;
			}
		}
	}

	.slide-section {
		position: relative;
		margin-top: -15px;
		margin-bottom: -15px;

		.slide-slick {
			margin-right: -15px;
			margin-left: -15px;

			.slick-list {
				.slick-track {
					margin-left: auto;
					margin-right: auto;
					display: flex;
					align-items: stretch;
				}
			}

			.item-slick {
				padding: 15px;
				height: auto;
			}
		}

		.arrows-slick {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 30px;
			padding-bottom: 7px;

			&::after,
			&::before {
				content: '';
				display: block;
				flex-grow: 1;
				flex-basis: 1px;
				height: 5px;
				border-top: 1px solid #e5e5e5;
				border-bottom: 1px solid #e5e5e5;
			}

			&::before {
				order: 2;
			}

			&::after {
				order: 4;
			}
			
			.item-arrow {
				cursor: pointer;
				display: block;
				color: #666;
				text-align: center;
				border: 1px solid #e5e5e5;
				width: 50px;
				height: 30px;
				font-size: 23px;
				line-height: 28px;
				transition: all .2s;

				&::before {
					font-family: FontAwesome;
				}

				&.next-slick {
					order: 5;
					margin-left: 25px;
					margin-right: auto;

					&::before {
						content: '\f101';
					}
				}

				&.prev-slick {
					order: 1;
					margin-right: 25px;
					margin-left: auto;

					&::before {
						content: '\f100';
					}
				}

				&.set-color:hover {
					background-color: $main-color-01;
					border-color: $main-color-01;
					color: #fff;
				}

				&.slick-arrow.slick-hidden {
					display: none;
				}
		
				&[aria-disabled="true"] {
					cursor: not-allowed;
				}
			}

			.link-view-all {
				order: 3;
				font-weight: 600;
				font-size: 15px;
				line-height: 1.4;
				color: #555;
				text-align: center;
				text-transform: uppercase;
				display: block;
				background: #fff;
				padding: 4px 25px;
				transition: all .2s;

				&.set-color:hover {
					color: $main-color-01;
				}
			}

			@media (max-width: 575px) {
				.item-arrow {
					width: 30px;
					font-size: 20px;

					&.next-slick {
						margin-left: 10px;
					}

					&.prev-slick {
						margin-right: 10px;
					}
				}

				.link-view-all {
					padding: 4px 15px;
				}
			}
		}
	}

	&.arrow-top {
		.heading-section {
			text-align: left;
			padding-right: 120px;

			@media (max-width: 767px) {
				padding-right: 90px;
			}
		}

		.arrows-slick {
			.item-arrow {
				width: 39px;
				height: 39px;
				line-height: 37px;
				position: absolute;
				top: -90px;

				&::before {
					font-family: Ionicons;
				}

				&.next-slick {
					margin: 0;
					right: 0;

					&::before {
						content: '\f3d3';
					}
				}

				&.prev-slick {
					margin: 0;
					right: 49px;

					&::before {
						content: '\f3d2';
					}
				}
			}

			@media (max-width: 767px) {
				.item-arrow {
					top: -71px;
					width: 30px;
					height: 30px;
					font-size: 18px;
					line-height: 28px;

					&.prev-slick {
						right: 40px;
					}
				}
			}
		}

		&.hide-link-view-all {
			.arrows-slick {
				padding: 0;

				&::after,
				&::before {
					display: none;
				}
			}
		}
	}

	&.hide-link-view-all {
		.link-view-all {
			display: none !important;
		}
	}
}


/*\
 *
 * Layout Tab
 *
 * Style Class: show-space-bottom / show-small-space-bottom
 *				full-width
 *
\*/
.hun-section-products.layout-tab {
	.heading-section {
		margin-top: -9px;
		margin-bottom: 60px;

		.title-sec {
			font-weight: 700;
			font-size: 39px;
			line-height: 1.2;
			color: #333;
			letter-spacing: 1px;
			margin-bottom: 0;
		}

		@media (max-width: 767px) {
			margin-bottom: 50px;

			.title-sec {
				font-size: 30px;
			}
		}
	}

	.inner-section {
		margin-bottom: -30px;
	}

	.tab-section {
		.col,
		[class*="col-"] {
			padding-bottom: 30px;
		}

		.slide-slick {
			margin-top: -15px;
			margin-right: -15px;
			margin-left: -15px;

			.item-slick {
				padding: 15px 15px 0px 15px;
			}
		}

		.dots-slick {
			margin-top: -33px;
			padding-bottom: 48px;

			&:empty {
				display: none;
			}

			.slick-dots {
				list-style-type: none;
				padding: 0px;
				margin: 0px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				text-align: center;

				li {
					font-size: 15px;
					line-height: 1.5;
					color: #888;
					cursor: pointer;
					margin: 0px 16px 10px 16px;
					border-bottom: 1px solid transparent;
					transition: all .2s;

					&:hover,
					&.slick-active {
						color: #333;
						border-color: #555;
					}
				}
			}
		}
	}

	.buttons-section {
		text-align: center;
		padding-top: 40px;
		padding-bottom: 30px;

		.hun-button {
			text-transform: uppercase;
			padding: 0px 39px;
		}
	}

	.link-view-all {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 16px;
		padding-bottom: 21px;

		&::after,
		&::before {
			content: '';
			display: block;
			flex-grow: 1;
			flex-basis: 1px;
			height: 5px;
			border-top: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;
		}

		a {
			font-weight: 600;
			font-size: 15px;
			line-height: 1.4;
			color: #555;
			text-align: center;
			text-transform: uppercase;
			display: block;
			background: #fff;
			padding: 4px 25px;
			transition: all .2s;

			&.set-color:hover {
				color: $main-color-01;
			}

			@media (max-width: 575px) {
				padding: 4px 15px;
			}
		}
	}
}


/*\
 *
 * Layout Side Menu
 *
 * Style Class: show-space-bottom / show-small-space-bottom
 *
\*/
.hun-section-products.layout-side-menu {
	.inner-section {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		padding: 0px 35px;
		margin-bottom: -30px;

		@media (max-width: 1539px) {
			padding: 0px 20px;
		}

		@media (max-width: 1299px) {
			padding: 0;
		}
	}

	.side-content-sec {
		width: 18%;
		padding: 0px 15px 30px 15px;

		.heading-section {
			margin-top: -9px;
			margin-bottom: 45px;

			.title-sec {
				font-weight: 700;
				font-size: 39px;
				line-height: 1.2;
				color: #333;
				letter-spacing: 1px;
				margin-bottom: 0;
			}

			@media (max-width: 767px) {
				margin-bottom: 35px;
				
				.title-sec {
					font-size: 30px;
				}
			}
		}

		.categories {
			.group-cat {
				margin-bottom: 25px;

				.title-group {
					font-weight: 600;
					font-size: 16px;
					color: #666;
					margin-bottom: 8px;

					a {
						color: inherit;
					}
				}

				.list-cat {
					list-style-type: none;
					padding: 0;
					margin: 0;

					li {
						color: #999;
						margin-bottom: 8px;

						&:last-child {
							margin-bottom: 0;
						}

						a {
							color: inherit;
						}

						ul {
							padding-top: 8px;
							padding-left: 20px;
						}
					}
				}
			}

			&.set-color {
				.group-cat {
					.title-group {
						a {
							&:hover {
								color: $main-color-01;
							}
						}
					}

					.list-cat {
						li {
							a {
								&:hover {
									color: $main-color-01;
								}
							}
						}
					}
				}
			}
		}

		.side-link-view-all {
			a {
				font-weight: 600;
				font-size: 16px;
				color: #666;

				&::after {
					content: '\f101';
					font-family: FontAwesome;
					font-weight: 400;
					margin-left: 5px;
				}

				&.set-color:hover {
					color: $main-color-01;
				}
			}
		}
	}

	.main-content-sec {
		width: 82%;
		padding: 0px 15px;

		.col,
		[class*="col-"] {
			padding-bottom: 30px;
		}

		@media (min-width: 1540px) {
			.col-xxl-3 {
				-ms-flex: 0 0 25%;
				flex: 0 0 25%;
				max-width: 25%;
			}
		}
	}

	.link-view-all {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 16px;
		padding-bottom: 21px;

		&::after,
		&::before {
			content: '';
			display: block;
			flex-grow: 1;
			flex-basis: 1px;
			height: 5px;
			border-top: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;
		}

		a {
			font-weight: 600;
			font-size: 15px;
			line-height: 1.4;
			color: #555;
			text-align: center;
			text-transform: uppercase;
			display: block;
			background: #fff;
			padding: 4px 25px;
			transition: all .2s;

			&.set-color:hover {
				color: $main-color-01;
			}

			@media (max-width: 575px) {
				padding: 4px 15px;
			}
		}
	}

	@media (max-width: 1539px) {
		.side-content-sec {
			width: 20%;
		}

		.main-content-sec {
			width: 80%;
		}
	}

	@media (max-width: 1199px) {
		.side-content-sec {
			width: 25%;
		}

		.main-content-sec {
			width: 75%;
		}
	}

	@media (max-width: 767px) {
		.side-content-sec {
			width: 100%;

			.categories {
				column-count: 2;
				column-gap: 30px;

				.group-cat {
					width: 100%;
					padding-bottom: 20px;
					page-break-inside: avoid;
					break-inside: avoid;
				}
			}
		}

		.main-content-sec {
			width: 100%;
		}
	}
}
