/*[ hun-section-categories ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * Layout grid
 *
 * Style Class: show-space-bottom / show-small-space-bottom
 *				full-width
 *				no-gap
 *
\*/
.hun-section-categories.layout-grid {
	.col,
	[class*="col-"] {
		padding-bottom: 30px;
	}

	.inner-section {
		margin-bottom: -30px;
		position: relative;
		z-index: 0;

		&::before {
			content: '';
			display: none;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			background: #000;
			opacity: .5;
		}

		.bg-sec {
			display: none;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
		}
	}

	&.outer-hun-element-category--type-1.style-4 {
		.inner-section {
			padding-top: 120px;
			padding-bottom: 90px;
			margin-bottom: 0;

			&::before { 
				display: block;
			}

			.bg-sec {
				display: block;
			}
		}
	}

	&.no-gap {
		.row {
			margin: 0;
		}

		.col,
		[class*="col-"] {
			padding: 0;
		}

		.inner-section {
			margin-bottom: 0;
		}

		&.outer-hun-element-category--type-1.style-4 {
			.inner-section {
				padding-bottom: 120px;
			}
		}

		&.full-width {
			.container {
				max-width: 100%;
				padding: 0px;
			}
		}
	}
}


/*\
 *
 * Layout masonry
 *
 * Style Class: show-space-bottom / show-small-space-bottom
 *				full-width
 *				no-gap
 *				set-2-col / set-3-col / set-4-col
 *
\*/
.hun-section-categories.layout-masonry {
	.inner-section {
		margin-bottom: -30px;
		position: relative;
		z-index: 0;

		&::before {
			content: '';
			display: none;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			background: #000;
			opacity: .3;
		}

		.bg-sec {
			display: none;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
		}
	}

	.wrap-masonry {
		column-count: 3;
		column-gap: 30px;

		.item-masonry {
			page-break-inside: avoid;
			break-inside: avoid;
			width: 100%;
			padding-bottom: 30px;
		}

		@media (max-width: 991px) {
			column-count: 2;
		}

		@media (max-width: 575px) {
			column-count: 1;
		}
	}

	&.set-2-col {
		.wrap-masonry {
			column-count: 2;

			@media (max-width: 767px) {
				column-count: 1;
			}
		}
	}

	&.set-4-col {
		.wrap-masonry {
			column-count: 4;

			@media (max-width: 1199px) {
				column-count: 3;
			}

			@media (max-width: 991px) {
				column-count: 2;
			}

			@media (max-width: 575px) {
				column-count: 1;
			}
		}
	}

	&.outer-hun-element-category--type-1.style-4 {
		.inner-section {
			padding-top: 120px;
			padding-bottom: 90px;
			margin-bottom: 0;

			&::before { 
				display: block;
			}

			.bg-sec {
				display: block;
			}
		}
	}

	&.no-gap {
		.inner-section {
			margin-bottom: 0;
		}

		.wrap-masonry {
			column-gap: 0px;

			.item-masonry {
				padding-bottom: 0px;
			}
		}

		&.outer-hun-element-category--type-1.style-4 {
			.inner-section {
				padding-bottom: 120px;
			}
		}

		&.full-width {
			.container {
				max-width: 100%;
				padding: 0px;
			}
		}
	}
}